body{font-family: Arial, sans-serif;
background-color: #fcefee;
text-align: center;
padding: 50px;
}
.y{background-color: #fff;
padding: 20px;
border: radius 10px; 
width: 300px;
height: 400px;
margin: auto;
box-shadow: 0 0 10px rgba(0,0 ,0,0.1);
}
h2{color: deeppink;}
input{width: 90%;
padding: 10px;
margin: 10px;
border: 2px solid #ff99cc;
border-radius: 5px;
}
button{background-color: #ff6699;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
}
button :hover{background-color: #ff3366;}

a{color: black;}
form{text-align: center;}

 placeholder{text-align: center;}